.editable {
  font-family: 'Spectral';
  src: url('/fonts/Spectral-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: hsl(var(--background));
    padding: 0.5rem 1rem;
    box-shadow: none;
  }
  
.editor-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.editor-input:focus, .editor-input:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #9ca3af;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ProseMirror {
  outline: none !important;
  border: none !important;
}
  
